:root {    
    --color-fuente: #F5F5F5;
    --color-enlace: #000;
 }
 
 body {
     box-sizing: border-box;
     background-color: var(--color-fuente);
     font-family: 'Raleway';
     margin: 0;
     padding: 0;
     line-height: 1;
 }
 
 ol, ul,li {
     list-style: none;
 }
 
 a {
     text-decoration: none;
     color: var(--color-enlace);
 }
 
 
 /* Sección de Menú */
 
 
 
 /* Sección de Título */
 
 
 
 /* Sección Sobre Mí */
 
 
 
 /* Sección de Pasatiempos */
 
 
 
 /* Sección de Formación Académica */
 
 
 
 /* Experiencia */
 
 
 
 /* Contacto */
 
 
 
 /* Pie de Página */
 
 
 
 /* Media Queries */ 
 
 
 /* Tablet */
 
 @media (min-width: 768px) {
 
 }
 
 /* Móvil */
 
 @media (min-width: 425px) {
     
 } 